* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0;
  }

html {
    scroll-behavior: smooth;
}

/* All of the css for the landscape transition thing with my name */
.title {
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 40%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  font-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  animation: slideInUp;
  animation-duration: 3s;
}

.intro_view {
  position: relative;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.size {
  height: calc(100vh);
  min-width: 100vw;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* End of the landscape css thingy */

.main_view {
  height: calc(100vh);
  overflow-y: hidden;
  font-size: large;
  text-align: center;
  box-shadow: 0 8px 6px -6px #E5E6E5;
}

.tldr h1 {
  padding-top: 1%;
  font-size: xx-large;
  font-weight: bold;
}

.tldr p {
  font-size: large;
  padding-left: 5%;
  padding-right: 5%;
}

/* Start of navigation css */

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

@media (max-width: 480px) {
  .topnav a {
    font-size: 30px;
  }
}

/* End of navigation css */

/* Start of projects css */

.project {
  display: block;
  font-size: large;
  text-decoration: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
  border-radius: 5px;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.project:hover {
  box-shadow: 0 10px 20px rgba(4, 170, 109, 1);
}

.pcontainer {
  position: relative;
  display: grid;
  grid-template-columns: 154px 800px;
}

.project .app_logo {
  border: 2px solid black;
}

.project .pcontents {
  font-size: large;
  color: black;
  float: left;
  width: auto;
}

.pcontents h1 {
  font-size: larger;
}

.pcontents p {
  font-size: larger;
  color: rgb(102, 102, 102);
}

.project .pcontents img {
  height: 150px;
  width: 150px;
}
 
/* End of projects css */
