* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0;
  }

html {
    scroll-behavior: smooth;
}

/* All of the css for the landscape transition thing with my name */
.title {
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 40%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  font-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  animation: slideInUp;
  animation-duration: 3s;
}

.intro_view {
  position: relative;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.size {
  height: calc(100vh);
  min-width: 100vw;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* End of the landscape css thingy */

.main_view {
  height: calc(100vh);
  overflow-y: hidden;
  font-size: large;
  text-align: center;
  box-shadow: 0 8px 6px -6px #E5E6E5;
}

.tldr h1 {
  padding-top: 1%;
  font-size: xx-large;
  font-weight: bold;
}

.tldr p {
  font-size: large;
  padding-left: 5%;
  padding-right: 5%;
}

/* Start of navigation css */

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

@media only screen and (max-width: 500px) {
  .topnav a {
    font-size: 20px;
  }
}

/* End of navigation css */

/* Start of projects css */

.project {
  display: inline-block;
  width: 325px;
  height: 575px;
  box-shadow: 0 0 20px #aaa;
  margin: 25px;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  transition: height 1s;
}

.icon {
  border: 2px solid gray;
  height: 57%;
  overflow: hidden;
  border-radius: 10px;
}

.icon img {
  width: 100%;
}

.project a {
  text-decoration: none;
}

.project h4 {
  margin-top: 10px;
  font-size: 20px;
  color:black;
}

.project p {
  margin-top: 10px;
  font-size: 15px;
  color:rgb(102, 102, 102);
}

/* End of projects css */

/* Start of book review stuff */

.container {
  margin: 0 auto;
  max-width: 910px;
}
/******************************************
Book stuff
*******************************************/

.book {
  display: inline-block;
  width: 230px;
  height: 390px;
  box-shadow: 0 0 20px #aaa;
  margin: 25px;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  transition: height 1s;
}

.cover {
  border: 2px solid gray;
  height: 80%;
  overflow: hidden;
}

.cover img {
  width: 100%;
}

.book a {
  text-decoration: none;
}

.book h4 {
  margin-top: 10px;
  font-size: 20px;
  color:black;
}

.book p {
  margin-top: 10px;
  font-size: 15px;
  color:rgb(102, 102, 102);
}

@media (max-width: 941px) {
  .container {
    max-width: 700px;
  }
  .book {
    margin: 49px;
  }
  .project {
    margin: 49px;
  }
}
@media (max-width: 730px) {
  .book {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
  .project {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
}

/* End of book review stuff */
